* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191919;
  background-image: url(../img/background/background_black.svg);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

@font-face {
  font-family: "PaluiSP";
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "VisbyBold";
  src: url("../font/VisbyBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "VisbyHeavy";
  src: url("../font/VisbyHeavy.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "VisbySemibold";
  src: url("../font/VisbySemibold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-top: 290px;
}

.main-navigation {
  display: flex;
  gap: 10px;
}

.btn-autorisation {
  width: 98px;
  height: 35px;
  background-color: #3b71b7;
  font-size: 16px;
  color: #fbfbfb;
  font-family: "PaluiSP", sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn-autorisation:hover {
  background-color: transparent;
  border: 1px solid #fbfbfb;
}

.btn-registration {
  width: 230px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #fbfbfb;
  color: #fbfbfb;
  font-size: 16px;
  font-family: "PaluiSP", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.btn-registration:hover {
  background-color: #3b71b7;
  border: none;
}

.main-form {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-text {
  width: 560px;
  height: 32px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8a8a8a;
  outline: none;
  color: #fbfbfb;
}

::placeholder {
  color: #515151;
  font-family: "VisbyBold", sans-serif;
  font-size: 24px;
}

.input-button {
  width: 560px;
  height: 45px;
  background-color: #f39200;
  color: #fbfbfb;
  font-size: 16px;
  font-family: "PaluiSP", sans-serif;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  border: none;
}

.input-button:hover {
  background-color: #3b71b7;
}

/* (320px, 768px, 1024px) */

@media (max-width: 768px) {
  .main {
    gap: 80px;
    padding-top: 200px;
  }

  .main-navigation {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .btn-autorisation {
    width: 98px;
    height: 35px;
    font-size: 14px;
  }

  .btn-registration {
    width: 230px;
    height: 35px;
    font-size: 14px;
  }

  .main-form {
    width: 320px;
    gap: 35px;
  }

  .input-text {
    width: 320px;
    height: 32px;
    font-size: 20px;
  }

  ::placeholder {
    font-size: 20px;
  }

  .input-button {
    width: 320px;
    height: 45px;
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .main {
    gap: 80px;
    padding-top: 170px;
  }

  .main-navigation {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .btn-autorisation {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }

  .btn-registration {
    width: 210px;
    height: 35px;
    font-size: 14px;
  }

  .main-form {
    width: 300px;
    gap: 35px;
  }

  .input-text {
    width: 300px;
    height: 28px;
    font-size: 18px;
  }

  ::placeholder {
    font-size: 18px;
  }

  .input-button {
    width: 300px;
    height: 35px;
    font-size: 14px;
  }
}
