

@font-face {
  font-family: "VisbyBold"; 
  src: url("../font/VisbyBold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbyHeavy"; 
  src: url("../font/VisbyHeavy.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbySemibold"; 
  src: url("../font/VisbySemibold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "PaluiSP"; 
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}


main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 122px;
    background-color: #191919;
    color: #FFF;
    padding-bottom: 200px;
    font-family: 'VisbyBold', sans-serif;

    background-image: url("../img/home/back-main.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
}

.main-container {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.headline {
    font-size: 65px;
    margin: 80px 0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: "PaluiSP", sans-serif;
}

.basket {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.products-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.product {
    width: 691px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: #111;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-size {
    text-align: center;
}

.count-change {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #111;
    background-color: transparent;
    color: #111;
}
.count-change:hover {
    background-color: #000;
    color: #FFF;
}

#remove-product {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#remove-product img:hover {
    filter: brightness(99%) invert(1);
}

.basket-order {
    width: 460px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #FFF;
    color: #111;
    box-sizing: border-box;
}

#place-an-order {
    height: 60px;
    background-color: #F39200;
    color: #FFF;
    border: none;
    transition: all 0.2s;
    font-family: 'PaluiSP', sans-serif;
}
#place-an-order:hover {
    background-color: #E94E1B;;
}


@media (max-width: 1243px) {
    .main-container {
        width: 720px;
    }

    .basket {
        flex-direction: column;
        gap: 40px;
    }

    .basket-order {
        width: 100%;
    }

    .headline {
        width: 100%;
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .main-container {
        width: 700px;
    }

    .basket {
        flex-direction: column;
        gap: 40px;
    }

    .product {
        box-sizing: border-box;
    }

    .basket-order {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .main-container {
        width: 500px;
    }

    .basket {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .product-list {
        width: 100%;
    }

    .product {
        width: 100%;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .basket-order {
        width: 100%;
    }

    .headline {
        font-size: 20px;
        margin: 20px 0px;
    }
}

@media (max-width: 481px) {
    main {
        margin-top: 80px;
    }
}

@media (max-width: 524px) {
    .main-container {
        width: 500px;
    }

    .basket {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .product-list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product {
        width: 380px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .basket-order {
        width: 100%;
    }

    .headline {
        font-size: 20px;
        margin: 20px 0px;
    }
}

@media (max-width: 320px) {
    .main-container {
        width: 300px;
    }

    .basket {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .product-list {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .basket-order {
        width: 100%;
    }

    .headline {
        font-size: 20px;
        margin: 20px 0px;
    }
}