main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 122px;
    background-color: #191919;
    color: #FFF;
    padding-bottom: 200px;
}

.main-container {
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 80px;
}

.basket {
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product {
    width: 691px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: #111;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-size {
    text-align: center;
}

#remove-product {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.basket-order {
    width: 460px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: #FFF;
    color: #111;
    box-sizing: border-box;
}

#place-an-order {
    height: 60px;
    background-color: #F39200;
    color: #FFF;
    border: none;
    transition: 0.2s;
}
#place-an-order:hover {
    background-color: #3BC8FF;
}


@media (max-width: 1024px) {
    .main-container {
        width: 720px;
    }

    .basket {
        flex-direction: column;
        gap: 40px;
    }

    .basket-order {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .main-container {
        width: 700px;
    }

    .basket {
        flex-direction: column;
        gap: 40px;
    }

    .product {
        box-sizing: border-box;
    }

    .basket-order {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .main-container {
        width: 300px;
    }

    .basket {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }

    .product-list {
        width: 100%;
    }

    .product {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .basket-order {
        width: 100%;
    }
}