/* для просмотра  */
.product-img-slider {
  width: 260px;
  height: 254px;
}

.main-catalog {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 100px 40px;
  /* если надо поменять кол-во карточек в строке, то менять надо width: 50%; */
  /* АДАПТИВ УЖЕ ЕСТЬ */
  width: 90%;
  max-width: 1200px;
}

.catalog-card {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

.product-price {
  font-weight: bold;
  color: #000;
  margin: 15px 0px 48px 0px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 260px;
  padding: 13px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  background-color: #999999;
  font-weight: bold;
}

button:hover {
  background-color: #bbb;
}

.swiper {
  width: 260px;
  height: 254px;
}

.card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.card-img-slide {
  width: 90%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
  object-position: top;
}

.custom-prev-btn,
.custom-next-btn {
  position: absolute;
  top: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.custom-prev-btn {
  left: 10px;
}

.custom-next-btn {
  right: 10px;
}
