.footer {
    width: 100%;                 
    background-color: #3B71B7;
    color: #fff;
}

.footer-container {
    max-width: 1500px;          
    width: 100%;
    margin: 0 auto;             
}
.up-footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    background-color: #3B71B7;
    width: 100%; 
}
.up-footer-container {
    max-width: 1500px;          
    width: 100%;
    margin: 0 auto;              
    display: flex;
    justify-content: space-between;
}

.left-footer {
    max-width: 260px;
}

.left-footer img {
    width: 120px;
    margin-bottom: 20px;
}

.label-input{
    font-size: 11px;
    color: #d0d0d0;
}

.footer-input-text {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
}

.footer-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #F39200;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.right-footer {
    display: flex;
    gap: 100px;
}

.right-footer div li {
    margin: 10px 0;
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}


.down-footer-container {
    max-width: 1500px;           
    width: 100%;
    margin: 0 auto;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    font-size: 14px;           
}
.down-footer {
    width: 100%;    
    background-color: #F39200;
}

.down-footer img {
    width: 35px;
    margin-left: 15px;
    cursor: pointer;
}

.under{
    text-decoration: underline;
}

.head {
    width: 100%;
    margin: 0 auto; 
    background-color: #3B71B7;
    display: flex;
    gap: 500px;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
}
.head-menu {
    ul {
    display: flex;
    list-style-type: none;
    gap: 45px;
    text-transform: capitalize;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    .head-right {
        display: flex;
        gap: 20px;
    }
    .drop-menu > ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background-color: #254a7b;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        padding: 10px;
    }
    .drop-menu:hover > ul{
        opacity: 1;
        visibility: visible;
        transition-duration: 1s;
        transition-property: opacity, visibility;
    } 

