@font-face {
  font-family: "VisbyBold"; 
  src: url("../font/VisbyBold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbyHeavy"; 
  src: url("../font/VisbyHeavy.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbySemibold"; 
  src: url("../font/VisbySemibold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "PaluiSP"; 
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}
html, body {
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
}

main {
    padding-top: 80px;
}

.footer {            
    background-image: url(img/background/background_blue.svg);
    background-size: 100px;
    background-position: center;
    color: #fff;
    width: 100%;
    font-family: 'VisbySemibold', sans-serif;
}

.footer-container {
    max-width: 1500px;
    margin: 0;
    width: 100%;
}

.up-footer {
    display: flex;
    justify-content: space-between;
    background-color: #3B71B7;
    width: 100%; 
    padding: 20px;
}

.up-footer-container {
    max-width: 1500px;          
    width: 100%;
    margin: 0 auto;              
    display: flex;
    justify-content: space-between;
}

.left-footer {
    max-width: 260px;
}

.left-footer img {
    width: 120px;
    margin-bottom: 20px;
}

.label-input{
    font-size: 11px;
    color: #d0d0d0;
}


.footer-input-text {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin-top: 10px;
}

.footer-btn {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #F39200;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s;
}

.footer-btn:hover {
        background-color: #E94E1B;
        cursor: pointer;
}

.right-footer {
    display: flex;
    gap: 100px;
}

.right-footer div li {
    margin: 10px 0;
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.right-footer div li a{
    text-decoration: none;
    color: #ffffff;
}

.right-footer div li:hover {
    color: #F39200;
}


.down-footer-container {
    max-width: 1500px;           
    width: 100%;
    margin: 0 auto;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    font-size: 14px;           
}
.down-footer {
    width: 100%;    
    background-color: #F39200;
}

.down-footer img {
    width: 35px;
    margin-left: 15px;
    cursor: pointer;
}

.under{
    text-decoration: underline;
    a{
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }
}

.under:hover a{
    color: #3B71B7;
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #3B71B7;
    z-index: 100000000;
    font-family: 'PaluiSP', sans-serif;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.header-menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}


.link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;

}

.link::after {
    position: absolute;
    text-decoration: none;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: .3s;
    left: 50%;
    transform: translate(-50%);
}

.link:hover::after {
  width: 100%;
  text-decoration: none;
}


.header-menu li {
    position: relative;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    gap: 0 !important;
    padding: 0;
    margin: 0;
}


.dropdown-menu li {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.dropdown-menu li  a{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background: #F39200;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right img {
    width: 28px;
    cursor: pointer;
}
.header-right img:hover{
    filter: brightness(80%) invert(1);
}

.link img {
  transition: transform 0.3s ease; 
}

.link:hover img {
  transform: rotate(180deg); 
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 28px;
    height: 3px;
    background: #fff;
    transition: 0.3s;
}

@media (min-width: 961px) and (max-width: 1280px) {

}

@media (min-width: 761px) and (max-width: 960px){
    .up-footer-container {
        padding: 0 20px;
    }

    .right-footer {
        gap: 40px;
    }

    .left-footer {
        max-width: 240px;
    }

    .right-footer div li {
        font-size: 15px;
    }
    .dropdown-menu li {
        font-size: 15px;
    }
    .link {
        font-size: 15px;
    }
}   

@media (min-width: 481px) and (max-width: 760px){

     .up-footer-container {
        flex-direction: column;
        gap: 40px;
        padding: 30px 20px;
    }

    .left-footer {
        max-width: 100%;
    }

    .right-footer {
        gap: 40px;
        justify-content: space-between;
    }

    .down-footer-container {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .header-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #3B71B7;
        transform: translateY(-200%);
        transition: 0.3s;
    }

    .arrow-down{
       display: none;
    }

    .header-menu.active {
        transform: translateY(0);
    }

    .header-menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;

        background: transparent;
        box-shadow: none;
        margin-top: 10px;
        gap: 10px;
    }

    .dropdown-menu li {
        border: none;
        justify-content: flex-start;
    }

    .dropdown-menu li a {
        color: #ffffff;
        font-size: 16px;
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    .dropdown-menu li:hover {
    background: #3B71B7;
}
}

@media (max-width: 480px){

    .up-footer-container {
        flex-direction: column;
        padding: 25px 15px;
        gap: 30px;
    }

    .right-footer {
        flex-direction: column;
        gap: 25px;
    }

    .footer-btn {
        width: 100%;
        text-align: center;
    }

    .footer-input-text {
        font-size: 14px;
    }

    .down-footer-container {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .down-footer img {
        margin-left: 10px;
    }

    .logo {
    width: 70px;
    cursor: pointer;
}
.header-right img {
    width: 20px;
    cursor: pointer;
}
.header-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #3B71B7;
        transform: translateY(-200%);
        transition: 0.3s;
    }

    .header-menu.active {
        transform: translateY(0);
    }

    .header-menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;

        background: transparent;
        box-shadow: none;
        margin-top: 10px;
        gap: 10px;
    }

    .dropdown-menu li {
        border: none;
        justify-content: flex-start;
    }

    .dropdown-menu li a {
        color: #ffffff;
        font-size: 16px;
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    .dropdown-menu li:hover {
    background: #3B71B7;
}
}

@media (max-width: 320px){

    .left-footer img {
        width: 100px;
    }

    .footer-btn {
        font-size: 14px;
        padding: 8px 20px;
    }

    .right-footer div li {
        font-size: 14px;
    }

    .label-input {
        font-size: 10px;
    }
.header-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #3B71B7;
        transform: translateY(-200%);
        transition: 0.3s;
    }

    .header-menu.active {
        transform: translateY(0);
    }

    .header-menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: flex-start;
    }

    .dropdown-menu {
        position: static;
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;

        background: transparent;
        box-shadow: none;
        margin-top: 10px;
        gap: 10px;
    }

    .dropdown-menu li {
        border: none;
        justify-content: flex-start;
    }

    .dropdown-menu li a {
        color: #ffffff;
        font-size: 16px;
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
    }
    .dropdown-menu li:hover {
    background: #3B71B7;
}
}