.head {
    background-color: #505050;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    .head-menu {
        ul {
            display: flex;
            list-style-type: none;
            gap: 45px;
            text-transform: capitalize;
        }
    }
    .head-right {
        display: flex;
        gap: 20px;
    }
}
