body {
    text-transform: uppercase;
}

.head {
    background-color: #505050;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    .head-menu {
        ul {
            display: flex;
            list-style-type: none;
            gap: 45px;
            text-transform: capitalize;
        }
    }
    .head-right {
        display: flex;
        gap: 20px;
    }
}

.main {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.intro {
    height: 750px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.443);
    p {
        font-size: 16px;
    }
    h1 {
        font-size: 64px;
    }
    button {
        display: flex;
        align-items: center;
        gap: 30px;
        text-transform: uppercase;
    }
}

.block-cards {
    h3 {
        font-size: 25px;
    }
    h1 {
        font-size: 100px;
    }
}

.leaders, .souvenirs {
    width: 100%;
    height: 500px;
    background-color: #D9D9D9;
    h3 {
        font-size: 40px;
    }
    button {
        font-size: 18px;
    }
}

/*card*/

.card {
  width: 260px;
  border: 2px solid #636363;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.card-inner {
  width: 230px;
  margin: 0 auto;
}

.card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.card-title {
  font-size: 12px;
  width: 131px;
  text-align: left;
}

.card-price {
  font-size: 15px;
  font-weight: bold;
}

.favorite {
  position: absolute;
  top: 14px;
  right: 15px;
  cursor: pointer;
  width: 18px;
  height: 16px;
}

.product-img-slider {
  width: 100%;
  margin-top: 30px;
}

.swiper {
  width: 100%;
  height: 181px;
  border: none;
}

.card-img-slide {
  width: 100%;
  height: 181px;
  object-fit: cover;
  object-position: center;
}

.card .swiper-pagination-bullet {
  background-color: #ffffff;
}

.card .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
