body {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.head {
  background-color: #505050;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
  color: white;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  .head-menu {
    ul {
      display: flex;
      list-style-type: none;
      gap: 45px;
      text-transform: capitalize;
    }
  }
  .head-right {
    display: flex;
    gap: 20px;
  }
}

.main {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
.intro {
  height: 750px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.443);
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 64px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
  }
}

.block-cards {
  h3 {
    font-size: 25px;
  }
  h1 {
    font-size: 100px;
  }
}

.leaders, .souvenirs {
    width: 100%;
    height: 500px;
    background-color: #D9D9D9;
    h3 {
        font-size: 40px;
    }
    button {
        font-size: 18px;
    }
}

.run-line {
    marquee {
        width: 100%;
        font-size: 108px;
    }
}
