@font-face {
  font-family: "RalewayRegular"; 
  src: url("../font/RalewayRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
    text-transform: uppercase;
    font-family: "RalewayRegular", sans-serif;
}

.main {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.intro {
  height: 750px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.443);
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 64px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
  }
}

.block-cards {
  h3 {
    font-size: 25px;
  }
  h1 {
    font-size: 100px;
  }
}

.leaders,
.souvenirs {
  width: 100%;
  height: 500px;
  background-color: #d9d9d9;
  h3 {
    font-size: 40px;
  }
  button {
    font-size: 18px;
  }
}

