@font-face {
  font-family: "RalewayRegular"; 
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
    text-transform: uppercase;
    font-family: "RalewayRegular", sans-serif;
}
.bold {
    font-weight: bold;
}
.orange {
    color: #F39200;
}
.font_visby {
    font-family: Arial, Helvetica, sans-serif;
}
.head {
    background-color: #3B71B7;
    height: 90px;
    display: flex;
    gap: 478px;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    .head-menu {
        ul {
            display: flex;
            list-style-type: none;
            gap: 45px;
            text-transform: capitalize;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    .head-right {
        display: flex;
        gap: 20px;
    }
    .catalog-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
    }
    .drop-menu > ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        position: absolute;
        background-color: #ffffff;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        padding: 0px;
        text-align: center;
        width: 190px;
        margin-top: 2px;
        a {
            color: #000;
            margin: 0;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 190px;
            height: 35px;
            margin: 0;
        }
    }
    .drop-menu:hover, .catalog-menu-list:hover
    {
       ul {
        opacity: 1;
        visibility: visible;
        transition-duration: 1s;
        transition-property: opacity, visibility;
       }
       .li-margin {
        margin-top: 2px;
       }
        .catalog-menu {
            padding-bottom: 2px;
            border-bottom: 2px solid white;
        }
        .menu-arrow {
            transform: rotate(180deg);
        }
    } 
    .catalog-menu-list {
        li:hover {
            a {
                color: #ffffff;
            }
            background-color: #F39200;
        }
    }
}

.main {
    background-color: #191919;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .new-collection, .season-form {
        flex-direction: column;
        margin: 180px 0 200px;
    }
    .marquee {
        flex-direction: row;
        margin-top: 88px;
    }
}

.intro {
    flex-direction: column;
    margin-top: 90px;
    height: 741px;
    width: 100%;
    background-image: url("/img/home/back.svg");
    background-color: #000000d8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    p {
        font-size: 30px;
        margin: 0;
    }
    h1 {
        font-size: 100px;
        margin: 13px 0;
    }
    button {
        display: flex;
        align-items: center;
        gap: 30px;
        text-transform: uppercase;
    }
    }

    

    .new-collection, .season-form {
        color: #ffffff;
        gap: 40px;
        .block-info {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
        .column {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 40px;
            flex-direction: column;
            max-width: 560px;
            width: 100%;
            h3, h4, p {
                margin: 0;
                font-size: 30px;
                font-weight: 800;
            }
            h3 {
                width: 460px;
            }
            .new-collection-info, .season-form-info {
                align-items: start;
                margin: 0;
                flex-direction: column;
            }
            h4, p {
                font-family: Arial, Helvetica, sans-serif;
                text-transform: none;
            }
        }
        .season-form-left {
            gap: 62px;
        }
        button {
            width: 1160px;
            height: 55px;
            border: none;
            border-radius: 0;
            color: white;
            background-color: #F39200;
            font-size: 16px;
            font-weight: 700;
            font-family: "RalewayRegular", sans-serif;
            line-height: 16px;
        }
        button:hover {
            background-color: #E94E1B;
            cursor: pointer;
        }
    }
    
    .block-cards {
        color: #fff;
        h3 {
            font-size: 30px;
            font-weight: 700;
            width: 160px;
        }
        .card {
            background: #fff;
            padding: 15px 20px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-family: Arial, Helvetica, sans-serif;
            text-transform: capitalize;
        }

        .card-image{
            width: 100%;
        }

        .up {
            .rating {
                font-size: 20px;
                color: #000;
                margin: 0;

                display: flex;
                align-items: center;
                gap: 4px;
            }

            .edit {
                margin: 0;
            }
        }

        .title {
            font-size: 18px;
            margin: 0;
        }

        .price {
            font-weight: bold;
            font-size: 18px;
            float: right;
        }

        .button {
            display: block;
            width: 100%;
            background: #3B71B7;
            color: white;
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            padding: 10px 0;
            margin-top: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            font-family: "RalewayRegular", sans-serif;
        }

        .desc {
            display: flex;
            justify-content: space-between;
        }
    }

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 20px 0;
    animation: scroll 10s linear infinite;
}

.icon {
    width: 30px;
    height: 30px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}