@font-face {
  font-family: "RalewayRegular"; 
  src: url("../font/RalewayRegular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
    text-transform: uppercase;
    font-family: "RalewayRegular", sans-serif;
}
.bold {
    font-weight: bold;
}

.head {
    background-color: #3B71B7;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    color: white;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    .head-menu {
        ul {
        display: flex;
        list-style-type: none;
        gap: 45px;
        text-transform: capitalize;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
    .head-right {
        display: flex;
        gap: 20px;
    }
    .drop-menu > ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background-color: #254a7b;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        padding: 10px;
    }
    .drop-menu:hover > ul{
        opacity: 1;
        visibility: visible;
        transition-duration: 1s;
        transition-property: opacity, visibility;
    } 
}

.main {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
.intro {
  height: 750px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.443);
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 64px;
  }
  button {
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
  }
}

.block-cards {
  h3 {
    font-size: 25px;
  }
  h1 {
    font-size: 100px;
  }
}

.leaders,
.souvenirs {
  width: 100%;
  height: 500px;
  background-color: #d9d9d9;
  h3 {
    font-size: 40px;
  }
  button {
    font-size: 18px;
  }
}

.new-collection, .season-form {
    gap: 40px;
    div {
        display: flex;
        flex-direction: row;
        gap: 40;
    }
    aside {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        width: 100%;
    }
    button {
        width: 1160px;
        height: 55px;
        border: none;
        border-radius: 0;
        color: white;
        background-color: #F39200;
    }
    button:hover {
        background-color: #E94E1B;
        cursor: pointer;
    }
}