@font-face {
  font-family: "RalewayRegular"; 
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}
@font-face {
  font-family: "VisbyBold"; 
  src: url("../font/VisbyBold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbyHeavy"; 
  src: url("../font/VisbyHeavy.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbySemibold"; 
  src: url("../font/VisbySemibold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

body {
    font-family: "RalewayRegular", sans-serif;
}
.bold {
    font-weight: bold;
}
.orange {
    color: #F39200;
}
.font_visby {
    font-family: "VisbyBold", sans-serif;
}

.main {
    background-color: #191919;
    padding-bottom: 210px;
    background-image: url("../img/home/back-main.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100%;
    div {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .new-collection, .season-form {
        flex-direction: column;
        padding: 180px 0 200px;
        align-items: center;
    }
    .new-collection {
        padding: 180px 0 200px;
    }
    .season-form {
        padding-top: 180px;
    }
    .marquee {
        flex-direction: row;
        padding-top: 88px;
    }
}

.intro {
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    min-height: 741px;
    width: 100%;
    background-image: url("../img/home/back.svg");
    background-color: #000000d8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    p {
        font-size: 30px;
        margin: 0;
    }
    h1 {
        font-size: 100px;
        margin: 13px 0;
    }
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding: 20px 0;
    animation: scroll 10s linear infinite;
}

.icon {
    width: 30px;
    height: 30px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}  

.new-collection, .season-form {
    color: #ffffff;
    gap: 40px;
    .block-info {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .column {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 40px;
        flex-direction: column;
        h3, h4, p {
            margin: 0;
            font-size: 30px;
            font-weight: 800;
        }
        h3 {
            max-width: 300px;
        }
        .new-collection-info, .season-form-info {
            align-items: start;
            margin: 0;
            flex-direction: column;
        }
        h4, p {
            text-transform: none;
            font-family: "VisbyBold", sans-serif;
            max-width: 560px;
            width: 100%;
        }
    }
    .season-form-left {
        gap: 62px;
    }
    .more {
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 1160px;
        text-decoration: none;
        width: 100%;
        height: 55px;
        border: none;
        border-radius: 0;
        color: white;
        background-color: #F39200;
        font-size: 16px;
        font-weight: 700;
        font-family: "RalewayRegular", sans-serif;
        line-height: 16px;
        transition: all 0.2s;
    }
    .more:hover {
        background-color: #E94E1B;
        cursor: pointer;
    }
    img {
        max-width: 560px;
        width: 100%;
        object-fit: cover;
    }
}

.block-cards {
    align-items: start;
    padding: 180px 0 200px;
    padding-top: 180px;
    gap: 300px;

    .block-cards-left, .block-cards-right {
        display: flex;
        flex-direction: column;
    }
    .block-cards-left {
        color: #fff;
        gap: 260px;
        button {
            background: none;
            border: none;
            height: 202px;
            width: 200px;

            display: flex;
            align-items: center;
            background-image: url(../img/home/change.png);
            background-repeat: no-repeat;
            background-position: center;
            transition: all 0.2s;
        }
        button:hover {
            background-image: url(../img/home/change-hover.png);
        }
    }
    .block-cards-right {
        gap: 40px;
        .cards-up, .cards-down {
            display: flex;
            gap: 40px;
        }
    }
    .cards-up {
        padding-right: 100px;
    }
    .cards-down {
        justify-content: end;
    }
    .card {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 15px;
        padding: 15px 0;

        font-family: "VisbyBold", sans-serif;
        text-transform: capitalize;

        width: 260px;
        height: 100%;
    }
    .card:hover {
        .card-image {
            transform: scale(1.3);
        }
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
        width: 160px;
        margin: 0;
    }
    .card-image{
        object-fit: cover;
        object-position: center;
        width: 160px;
        height: 196px;
        padding-top: 15px;
        transition: all 0.2s;
    }

    .up {
        z-index: 1;
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 220px;
        .tooltip {
            display: none;
            position: absolute;
            margin: -25px 0 0 -60px;
            height: 16px;
            padding: 2px;
            background-color: #fff;
            border: 0.5px solid black;
            width: 110px;
            text-align: center;
            z-index: 2;
            transition: all 0.3s;
        }
        .edit {
            margin: 0;
        }
        .edit:hover {
            .tooltip {
                display: block;
            }
        }
    }
    .rating {
        z-index: 1;
        font-size: 16px;
        color: #000;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 220px;
        display: flex;
        justify-content: start;
    }
    .absolute {
        position: absolute;
    }
    .desc {
        z-index: 1;
        display: flex;
        justify-content: space-between;
        width: 220px;
        height: 35px;
        p {
            margin: 0;
        }
    }    
    .button {
        display: block;
        width: 220px;
        background: #3B71B7;
        color: white;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 0;
        margin-top: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-decoration: none;
        font-family: "RalewayRegular", sans-serif;
        transition: all 0.2s;
    }
    .button:hover {
        background-color: #3B4B6F;
    }
}

@media (min-width: 961px) and (max-width: 1280px) {
    .main {
        padding-bottom: 120px;
        .new-collection, .season-form {
            padding: 100px 0 120px;
        }
        .new-collection {
            padding: 100px 0 120px;
        }
        .season-form {
            padding-top: 100px;
        }
    }

    .intro {
        p {
            font-size: 20px;
        }
        h1 {
            font-size: 70px;
        }
    }

    .new-collection, .season-form {
        gap: 30px;
        .block-info {
            gap: 30px;
        }
        .column {
            gap: 32px;
            h3, h4, p {
                font-size: 25px;
            }
            p {
                width: 460px;
            }
        }
        .season-form-left {
            gap: 52px;
        }
        img {
            width: 460px;
        }
        .more {
            width: 950px;
        }
    }

    .block-cards {
        gap: 140px;
        .cards-up {
            padding-right: 0px;
        } 
    }
}

@media (min-width: 761px) and (max-width: 960px) {
    .main {
        padding-bottom: 120px;
        .new-collection, .season-form {
            padding: 100px 0 120px;
        }
        .new-collection {
            padding: 100px 0 120px;
        }
        .season-form {
            padding-top: 100px;
        }
    }

    .intro {
        p {
            font-size: 20px;
        }
        h1 {
            font-size: 70px;
        }
    }

    .new-collection, .season-form {
        gap: 30px;
        .block-info {
            gap: 30px;
        }
        .column {
            gap: 21px;
            h3, h4, p {
                font-size: 22px;
            }
            p {
                width: 350px;
            }
        }
        .season-form-left {
            gap: 43px;
        }
        img {
            width: 360px;
        }
        .more {
            width: 750px;
        }
    }

    .block-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .block-cards-left {
            align-items: center;
            gap: 30px;
            h3 {
                text-align: center;
                width: 300px;
            }
        }
        .cards-up {
            padding-right: 0px;
        }
    }
}

@media (min-width: 481px) and (max-width: 760px) {
    .main {
        padding-bottom: 120px;
        .new-collection, .season-form {
            padding: 100px 0 120px;
        }
        .new-collection {
            padding: 100px 0 100px;
        }
        .season-form {
            padding-top: 50px;
        }
    }

    .intro {
        p {
            font-size: 13px;
        }
        h1 {
            font-size: 40px;
        }
    }

    .marquee__inner {
        font-size: 25px;
    }

    .new-collection, .season-form {
        gap: 10px;
        .block-info {
            gap: 10px;
        }
        .column {
            gap: 10px;
            h3, h4, p {
                font-size: 14px;
                width: 210px;
            }
        }
        .season-form-left {
            gap: 42px;
        }
        img {
            width: 210px;
        }
        .more {
            width: 430px;
            font-size: 12px;
            height: 30px;
        }
    }

    .block-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .block-cards-left {
            align-items: center;
            gap: 20px;
            h3 {
                text-align: center;
                width: 300px;
                font-size: 20px;
            }
            button {
                width: 90px;
                height: 120px;
                background-size: cover;
            }
            button:hover {
                background-image: url(../img/home/change-hover.png);
            }
        }
        .cards-up {
            padding-right: 0px;
        }
        .card {
            padding: 15px;
            width: 150px;
        }
        .card-image{
            width: 90px;
            height: 126px;
        }
        .up {
            width: 150px;
            .tooltip {
                width: 110px;
            }
        }
        .rating {
            font-size: 12px;
            width: 150px;
        }
        .desc {
            width: 150px;
            font-size: 14px;
        }    
        .button {
            width: 150px;
            font-size: 12px;
            margin-top: 0px;
        }
    }
}

@media (max-width: 480px) {
    .main {
        padding-bottom: 70px;
        .new-collection, .season-form {
            padding: 50px 0 70px;
        }
        .new-collection {
            padding: 50px 0 60px;
        }
        .season-form {
            padding-top: 10px;
        }
    }

    .marquee__inner {
        font-size: 20px;
    }

    .intro {
        p {
            font-size: 10px;
        }
        h1 {
            font-size: 30px;
        }
    }

    .new-collection, .season-form {
        gap: 10px;
        .block-info {
            gap: 10px;
            flex-direction: column;
        }
        .season-info {
            display: flex;
            flex-direction: column-reverse;
        }
        .column {
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            h3, h4, p {
                font-size: 14px;
                width: 300px;
            }
        }
        .season-form-left {
            gap: 10px;
        }
        img {
            width: 300px;
        }
        .more {
            width: 300px;
            font-size: 12px;
            height: 30px;
        }
    }

    .block-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .block-cards-left {
            align-items: center;
            gap: 20px;
            h3 {
                text-align: center;
                width: 300px;
                font-size: 20px;
            }
            button {
                width: 90px;
                height: 120px;
                background-size: cover;
            }
            button:hover {
                background-image: url(../img/home/change-hover.png);
            }
        }
        .cards-up {
            padding-right: 0px;
        }
        .cards-up, .cards-down {
            flex-direction: column;
        }
        .card {
            padding: 15px;
            width: 150px;
        }
        .card-image{
            width: 90px;
            height: 126px;
        }
        .up {
            width: 150px;
            .tooltip {
                width: 110px;
            }
        }
        .rating {
            font-size: 12px;
            width: 150px;
        }
        .desc {
            width: 150px;
            font-size: 14px;
        }    
        .button {
            width: 150px;
            font-size: 12px;
            margin-top: 0px;
        }
    }
}

@media (max-width: 320px) {
    .intro {
        p {
            font-size: 8px;
        }
        h1 {
            font-size: 20px;
            margin: 5px;
        }
    }
      .new-collection, .season-form {
        .column {
            h3, h4, p {
                font-size: 12px;
                width: 200px;
            }
        }
        img {
            width: 200px;
        }
        .more {
            width: 200px;
            font-size: 8px;
            height: 20px;
        }
    }

    .block-cards {
        .block-cards-left {
            h3 {
                text-align: center;
                width: 300px;
                font-size: 12px;
            }
        }
    }
}