body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 80px;
    padding: 100px 0px 200px 0px;
}

.product-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.product-slider img {
    width: 300px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
}

.size-selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.size-button {
    width: 79px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #3B71B7;
    transition: 0.3s;
}
.size-button:hover {
    background-color: #F39200;
}

.interactive {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 40px;
}

.product-button {
    box-sizing: border-box;
    width: 460px;
    height: 50px;
    border: none;
    transition: 0.3s;
}
.product-button:hover {
    background-color: #F39200;
    border: 1px solid #F39200;
}

.blue-button {
    background-color: #3B71B7;
    color: white;
    border: 1px solid #3B71B7;
}

.transparent-button {
    background-color: transparent;
    color: white;
    border: 1px solid #FFF;
}

/*feedback-card*/

.feedback-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feedback-card {
    box-sizing: border-box;
    width: 360px;
    height: 175px;
    padding: 15px 17.5px;
    background-color: white;
    color: #111;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* feedback slider */

.feedback-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}