@font-face {
  font-family: "VisbyBold"; 
  src: url("../font/VisbyBold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbyHeavy"; 
  src: url("../font/VisbyHeavy.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "VisbySemibold"; 
  src: url("../font/VisbySemibold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "PaluiSP"; 
  src: url("../font/PaluiSPDemo-Bold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

main{
    background-image: url(../img/background/background_black.svg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: "VisbyBold", sans-serif;
}

.width{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 0px;
}

.more-cards{
    display: flex;
    justify-content: center;
}

.nav-menu {
  display: flex;
  margin-top: 104px;
  color: #fbfbfb;
  display: flex;
}

.nav-items {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -30px; 
  /* соре подругому никак */
}

.nav-item {
  list-style: none;
  cursor: default;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #3b71b7;
}

.title-catalog {
  font-size: 65px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}

.filters {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.filter-open-btn {
  width: 360px;
  height: 70px;
  font-size: 16px;
  color: #fbfbfb;
  background-color: #3b71b7;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.7s;
}

.load-more-btn {

  width: 263px;
  height: 35px;
  font-size: 16px;
  color: #fbfbfb;
  background-color: #191919;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  border: 1px solid #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.7s;
  margin-bottom: 100px;
  transition: all 0.2s;
}

.load-more-btn:hover{
    background-color: #3b71b7;
    border: none;
}

.btn-down{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.filter-dropdown {
    width: 430px;
    position: relative;
    font-family: "PaluiSP", sans-serif;
    text-transform: uppercase;
    z-index: 1000; 
}

.filter-btn {
    background: #3b71b7;
    color: white;
    padding: 29px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}

.filter-btn img {
    width: 20px;
    pointer-events: none;
}

.filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    overflow: hidden;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.filter-menu li {
    border-bottom: 1px solid #ccc;
}

.filter-menu li:last-child {
    border-bottom: none;
}

.filter-menu a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.filter-menu li:hover {
    background: #f39200;
}

.filter-dropdown:hover .filter-menu {
    opacity: 1;
    visibility: visible;
}
.card-link {
            text-decoration: none;
            color: inherit;
            display: block;
        }

@media (min-width: 961px) and (max-width: 1280px) {
.title-catalog {
  font-size: 45px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}
}

@media (min-width: 761px) and (max-width: 960px){
.title-catalog {
  font-size: 35px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}
}   

@media (min-width: 481px) and (max-width: 760px){
.title-catalog {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}

.load-more-btn {
  width: 263px;
  height: 35px;
  font-size: 10px;
  color: #fbfbfb;
  background-color: #191919;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  border: 1px solid #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.7s;
  margin-bottom: 100px;
  transition: all 0.2s;
}
.filter-btn {
    background: #3b71b7;
    color: white;
    padding: 29px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 10px;
}

.filter-btn img {
    width: 10px;
    pointer-events: none;
}

.filter-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    overflow: hidden;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.filter-menu a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 10px;
}
}

@media (max-width: 480px){
.title-catalog {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}
}

@media (max-width: 320px){
.title-catalog {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  color: #fbfbfb;
}
.filter-open-btn {
  width: 360px;
  height: 70px;
  font-size: 10px;
  color: #fbfbfb;
  background-color: #3b71b7;
  text-transform: uppercase;
  font-family: "PaluiSP", sans-serif;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transition: background-color 0.7s;
}
.filters {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  flex-direction: column;
}
.filter-btn {
    background: #3b71b7;
    color: white;
    padding: 29px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    font-size: 10px;
}
}