body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.content {
    width: 1160px;
    display: flex;
    flex-direction: column;
}

.product-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.product-slider img {
    width: 300px;
}

.product-button {
    box-sizing: border-box;
    width: 460px;
    height: 50px;
    border: none;
}

.blue-button {
    background-color: #3B71B7;
    color: white;
}

.transparent-button {
    background-color: transparent;
    color: white;
    border: 1px solid #FFF;
}

/*feedback-card*/

.feedback-card {
    box-sizing: border-box;
    width: 360px;
    height: 175px;
    padding: 15px 17.5px;
    background-color: white;
    color: #111;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}