.cards-products {
    width: 1436px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 52px;

}

.card-product {
    background-color: gray;
    width: 320px;
    height: 516px;
}

.card-product-img-slider {
    height: 420px;
}

.card-product-information {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-product-price {
    display: flex;
    gap: 0px 10px;
}

.card-product-price-without-discounts {
    text-decoration: line-through;
}

.product-name {
    
}


